<div class="jumbotron category-background">
  <h1 class="display-3"><%= @category.name %></h1>
  <p class="lead"><%= @category.description %></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= @category.name %>
    </div>
  <div class="col-xs-8">
    <% @category.groups.each do |group| %>
        <article class="card card--a course">
        <%= link_to(group) do %>
          <li class="list-group-item"><%= group.name %></li>
            <% end %>
        </article>
    <% end %>
  </div>
  </div>
</div>