<% if !book_review.user_id.nil? %>
	<div class="review-box effect">
		<section class="notepaper">
      <label>Rating: </label><div class="review-rating" data-score="<%= book_review.rating %>"></div>
			<figure class="quote">
				<blockquote class="curly-quotes">
					<%= book_review.content %>
				</blockquote>
				<figcaption class="quote-by">— <%= book_review.user.name || book_review.user.email %></figcaption>
			</figure>
			<%= link_to(fa_icon("thumbs-up", class: "fa"), book_review_like_path(book_review), method: :put) %>
			<span class="glyphicon glyphicon-heart"><%= book_review.get_upvotes.size %></span> | 
			<%= link_to(fa_icon("thumbs-down", class: "fa"), book_review_like_path(book_review), method: :put) %>
			<span class="glyphicon glyphicon-heart"><%= book_review.get_downvotes.size %></span>
		  </button>
		</section>
	</div>
	<br>
<% end %>


