<% source = nil unless defined?(source) && source == "goodreads" %>
<div class="review-writer">
    <h5>Review:</h5>

    <%= form_for(@book_review = BookReview.new) do |f| %>
			<%= f.label :rating %><div id="rating-form"></div>
			<%= f.hidden_field :rating, class: 'form-control' %>
    	<br>	    
			<%= f.label :content %><br>
			<%= f.text_area :content, class: 'form-control', rows: '4' %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<% if source == "goodreads" %>
				<%= f.hidden_field :book_id, value: nil %>
				<%= f.hidden_field :goodreads_id, value: params[:goodreads_id] %>
			<% else %>
				<%= f.hidden_field :book_id, value: @book.id %>
			<% end %>
    	<br>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    <% end %>
	</div>
</div>

