<div class="row">
  <div class="col-md-7 offset-md-4">
    <h5>Cảm nhận sách:</h5>
    <%= form_for([@book, @book.book_reviews.build]) do |f| %>
			<%= f.label :rating %><br>
			<%= f.text_field :rating, class: 'form-control' %>
    	<br>	    
			<%= f.label :content %><br>
			<%= f.text_area :content, class: 'form-control', rows: '4' %>
			<%= f.hidden_field :user_id, value: current_user.id %>
    	<br>	    
      <%= f.submit %>
    <% end %>
	</div>
</div>

