<%= devise_error_messages! %>
<div class="jumbotron jumbotron-fluid authentication-background">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <div class="container authentication-quote">
        <h1><strong>Create an account:</strong></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aut ipsam consequuntur consequatur quam quo tempora itaque eius! Non vel, eos consequatur eligendi a repudiandae pariatur temporibus quis laboriosam
        </p>
      </div>  
    </div>
    <div class="col-md-4 authentication-box">
      <div class="pricing">
    		<ul>
    			<li class="unit price-primary active ">
    				<div class="price-title">
    					<strong>CREATE NEW ACCOUNT</strong>
    				</div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="price-body">
                <p>
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, class: "form-control", require: true %>
                  <%= f.label :name %>
                  <%= f.text_field :name, autofocus: true, class: "form-control", require: true %>
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", require: true %>
                  <% if @minimum_password_length %>
                    <small>(<%= @minimum_password_length %> characters minimum)</small>
                  <% end %>
                </p>
                <P>
                  <%= f.label :password_confirmation, :style => "text-align: Left" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", require: true %>  
                </p>
            	</div>
              <div class="price-foot">
                <%= f.submit "Create", class: "btn btn-primary" %><br/>
    					  <%= render "devise/shared/links" %>
              </div>
            <% end %>
    			</li>
    		</ul>
    	</div>
    </div>
  </div>  
</div>