<div class="user-right-panel">
	<h3>Your bookshelves</h3>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="all">
    	<div id="masonry-container" class="masonry-container transitions-enabled infinite-scroll clearfix">
      	<%= render partial: "book_items/book_item", collection: @user.book_items, as: :book_item %>
      </div>
    </div>
		<% @user.shelves.each do |shelf| %>
			<div class="tab-pane fade" id="shelf_<%= shelf.id %>">
				<div id="masonry-container" class="masonry-container transitions-enabled infinite-scroll clearfix">
					<%= render partial: "book_items/book_item", collection: shelf.book_items, as: :book_item %>
				</div>
			</div>
		<% end %>
	</div>
	<hr/>
	<h3>Reviews from others</h3>
	<%= render partial: 'transaction_reviews/transaction_review', collection: @transaction_reviews = TransactionReview.where(target_id: @user.id), as: :transaction_review %>
	<hr/>
	<h3>Your recent reviews</h3>
	<%= render partial: 'book_reviews/book_review', collection: (@book_reviews = @user.book_reviews.last(5).reverse), as: :book_review %>
	<hr></hr>
	<h3>Your recent wishlist</h3>
	<div class="container">
		<% @user.wishlists.last(5).reverse.each do |wishlist| %>
		<div class="col-md-6">
	  		<%= render partial: 'books/book', object: wishlist.book, as: 'book' %>
	  </div>
	  <% end %>
	 </div>
</div>