<div class="user-info clearfix">
	<div class="avatar-block polaroid clearfix">
		<%= link_to image_tag(user.avatar(150), class: "big-avatar"), user_path(user.id), title: truncate("#{user.name || user.email}", length: 17, separator: ' ') %>
	</div>
	<hr>
	<div class="contact-block clearfix" align="center">
		<%= link_to(fa_icon("facebook-square", class: "fa-2x"), "https://fb.com/#{user.uid}", title: "Facebook") if !user.provider.nil? %>
		<%= link_to(fa_icon("envelope-o", class: "fa-2x"), "mailto:#{user.email}", title: "Email") %>
		<%= render partial: "messages/create_btn", locals: {sender: current_user, receiver: user} if signed_in? && current_user != user %>
	</div>
	<% if signed_in? && current_user != user %>
		<div class="follow_button clearfix" align="center">
			<%= follow_button(current_user.id, user.id) if current_user.id != user.id %>
		</div>
	<% end %>
	<hr>
</div>
