<% if @user.provider.nil? %>
	<% social_link = nil %>
<% else %>
	<% social_link = "https://fb.com/#{@user.uid}" %>
<% end %>
<div class="user-sidebar clearfix">
	<div class="user-info clearfix">
		<div class="user-name clearfix">
			<h4><%= @user.name || @user.email %></h4>
		</div>
		<div class="avatar-block clearfix">
			<%= link_to image_tag(@user.avatar, class: "img-rounded big-avatar"), social_link || @user %>
		</div>
		<hr>
		<div class="contact-block clearfix" align="center">
			<% if !@user.provider.nil? %>
				<a href="https://fb.com/<%= @user.uid %>" class="fa fa-facebook-square fa-2x" title="Facebook"></a>
			<% end %>
			<a href="mailto:<%= @user.email %>" class="fa fa-envelope-o fa-2x" title="Email"></a>
			<% if current_user != @user %>
				<%= render partial: 'messages/create', locals: {sender: current_user, receiver: @user} %>
			<% end %>
		</div>
		<% if user_signed_in? && current_user != @user %>
			<hr>
			<div class="follow_button clearfix">
				<%= follow_button(current_user.id, @user.id) if !@page_owner %>
			</div>
		<% end %>
		<hr>
	</div>
	<div class="user-shelf-btn-block">
		<ul class="nav nav-pills nav-stacked ">
			<li class="nav-item <%= "active" if current_page?(user_path)%>">
				<a class="nav-link" href="#all" data-toggle="tab">All books</a>
			</li>
			<% @user.shelves.each do |shelf| %>
				<li class="nav-item <%= "active" if current_page?(user_shelf_path(shelf))%>">
					<a class="nav-link" href="#shelf_<%= shelf.id %>" data-toggle="tab"><%= shelf.name %></a>
				</li>
			<% end %>
		</ul>
	<%= link_to "Tạo tủ sách", new_user_shelf_path(user_id: current_user.id), class: 'btn btn-primary' if @page_owner %>
		<hr>
	</div>
	<div class="user-follower-block">
		<h5>Followers</h5>
		<%= render partial: 'user_small_avatar', collection: @user.followers, as: :user %>
		<hr>
	</div>
	<div class="user-folling-block">
		<h5>Followings</h5>
		<%= render partial: 'user_small_avatar', collection: @user.followings, as: :user %>
		<hr>
	</div>
</div>