<% if @user.provider.nil? %>
	<% social_link = nil %>
<% else %>
	<% social_link = "https://fb.com/#{@user.uid}" %>
<% end %>
<div class="user-sidebar clearfix">
	<div class="user-info">
		<div class="avatar-block clearfix">
			<%= link_to image_tag(@user.avatar, class: "img-rounded big-avatar"), social_link || @user %>
		</div>
		<hr>
		<div class="contact-block clearfix" align="center">
			<a href="mailto:<%= @user.email %>" class="fa fa-envelope fa-2x" title="Email"></a>
			<% if !@user.provider.nil? %>
				<a href="https://fb.com/<%= @user.uid %>" class="fa fa-facebook fa-2x" title="Facebook"></a>
			<% end %>
		</div>
		<% if current_user != @user %>
			<%= render partial: 'messages/create', locals: {sender: current_user, receiver: @user} %>
		<% end %>
		<hr>
		<div class="follow_button clearfix">
			<%= follow_button(current_user.id, @user.id) if !@page_owner %>
		</div>
		<br>
	</div>
	
	<ul class="nav nav-pills nav-stacked ">
		<li class="nav-item <%= "active" if current_page?(user_path)%>">
			<a class="nav-link" href="#all" data-toggle="tab">All books</a>
		</li>
		<% @user.shelves.each do |shelf| %>
			<li class="nav-item <%= "active" if current_page?(user_shelf_path(shelf))%>">
				<a class="nav-link" href="#shelf_<%= shelf.id %>" data-toggle="tab"><%= shelf.name %></a>
			</li>
		<% end %>
	</ul>
	<%= link_to "Tạo tủ sách", new_user_shelf_path(user_id: current_user.id), class: 'btn btn-primary' if @page_owner %>
</div>