<div class="user-sidebar clearfix">
	<%= render partial: "users/user_info", object: @user, as: :user %>
	<%= render partial: "messages/create_modal", locals: {sender: current_user, receiver: @user} if signed_in? && current_user != @user %>
	<div class="user-shelf-btn-block">
		<ul class="nav nav-pills nav-stacked ">
			<li class="nav-item <%= "active" if current_page?(user_path)%>">
				<a class="nav-link" href="#all" data-toggle="tab">All books</a>
			</li>
			<% @user.shelves.each do |shelf| %>
				<li class="nav-item <%= "active" if current_page?(user_shelf_path(shelf))%>">
					<a class="nav-link" href="#shelf_<%= shelf.id %>" data-toggle="tab"><%= shelf.name %></a>
				</li>
			<% end %>
		</ul>
	<%= link_to "New bookshelf", new_user_shelf_path(user_id: current_user.id), class: "btn btn-primary" if @page_owner %>
		<hr>
	</div>
	<div class="user-follower-block">
		<h5>Followers</h5>
		<%= render partial: "user_small_avatar", collection: @user.followers, as: :user %>
		<hr>
	</div>
	<div class="user-folling-block">
		<h5>Followings</h5>
		<%= render partial: "user_small_avatar", collection: @user.followings, as: :user %>
		<hr>
	</div>
</div>