<div class="container">
	<div class="row">
	<div class="shelfnav col-md-3">
			<h3>Your shelves</h3>
			<ul class="list-group">
			<li class="list-group-item <%= "active" if current_page?(user_path)%>">
				<%= link_to "All", user_path%>
			</li>
				<% current_user.shelves.each do |shelf| %>
				<span class="tag tag-default tag-pill pull-xs-right">12</span>
				<li class="list-group-item <%= "active" if current_page?(user_shelf_path(shelf))%>">
					<%= link_to shelf.name, user_shelf_path(shelf) %>
				</li>
				<% end %>
			</ul>
			<div class="shelfnav-footer">
			<%= link_to "New Shelf", new_user_shelf_path(user_id: current_user.id), class: 'btn btn-primary' %>
			</div>
		</div>
	</div>
</div>
