<div class="container main-content">
	<h3>Your shelves</h3>
	<div class="row">
		<div class="shelfnav col-md-2">
			<ul class="nav nav-pills nav-stacked ">
				<li class="nav-item <%= "active" if current_page?(user_path)%>">
					<a class="nav-link" href="#all" data-toggle="tab">All books</a>
				</li>
				<% current_user.shelves.each do |shelf| %>
					<li class="nav-item <%= "active" if current_page?(user_shelf_path(shelf))%>">
						<a class="nav-link" href="#shelf_<%= shelf.id %>" data-toggle="tab"><%= shelf.name %></a>
					</li>
				<% end %>
			</ul>
			<div class="shelfnav-footer">
				<%= link_to "New Shelf", new_user_shelf_path(user_id: current_user.id), class: 'btn btn-primary' %>
			</div>
		</div>
		<div class="col-md-10">
      <div class="tab-content">
          <div class="tab-pane fade" id="all">
      		<p>
      			This is your bookshelf
      		</p>
      	</div>
      	<% current_user.shelves.each do |shelf| %>
          <div class="tab-pane fade" id="shelf_<%= shelf.id %>">
            <% shelf.book_items.in_groups_of(2) do |g| %>
            	<div class="row book_group">
	            	<% g.compact.each do |book_item| %>
	        				<div class="col-md-6">
			              <div class="<%= @size %>-book-left-sidebar">
			                <%= render partial: 'books/book_cover', object: find_book(book_item), as: :book, locals: {:source => "internal"} %>
			              </div>
			              <div class="<%= @size %>-book-right-sidebar">
			                <%= render partial: 'books/book_info', object: find_book(book_item), as: :book, locals: {:source => "internal"} %>
			              </div>
		        			</div>
		        		<% end %>
		        	</div>
		        	<div class="row">
		        		<% g.compact.each do |book_item| %>
		        			<div class="col-md-6">
		        				- Quantity: <%= book_item.quantity %> - <%= link_to 'Xoa', book_item, method: :delete, data: { confirm: 'Are you sure?' } %>
		        			</div>
		        		<% end %>
		        	</div>
		        	<br>
        		<% end %>
          </div>
        <% end %>
      </div>
  	</div>
	</div>
</div>
