<%= form_for(book_item) do |f| %>
  <% if book_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_item.errors.count, "error") %> prohibited this book_item from being saved:</h2>

      <ul>
      <% book_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shelf %>
    <%= f.text_field :shelf %>
  </div>

  <div class="field">
    <%= f.label :book %>
    <%= f.text_field :book %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :available_count %>
    <%= f.number_field :available_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
