<%= render 'application/search_box' %>
<div class="container main-content">
  <% @books.in_groups_of(3) do |g| %>
    <div class="row 3-books">
      <% g.compact.each do |b| %>
        <div class="<%= @col_wide %> book-block">
          <div class="clearfix">
            <div class="<%= @size %>-book-left-sidebar">
              <%= render partial: 'books/book_cover', object: b, as: :book, locals: {:source => "internal"} %>
            </div>
            <div class="<%= @size %>-book-right-sidebar">
              <%= render partial: 'books/book_info', object: b, as: :book, locals: {:source => "internal"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    
    <br>
  <% end %>
</div>

