<div class="col-md-4">
    <div class="media book-block">
      <a class="media-left" href="#">
        <%= image_tag(book.image_url_or_default, class: "media-object book-cover", alt: book.title, height: '193', width: '128') %>
      </a>
      <div class="media-body">
        <div class="book-info">
          <h3 class="media-heading book-title"><%= book.title %></h3>
          <p class="book-author"><%= book.author.name %></p>
          <!--<hr>-->
          <p class="book-description"><%= truncate(book.description, :length => 100, :separator => ' ') %></p>
        </div>
      </div>
      <div class="media-footer book-btn"><br>
          <%= link_to "Sửa", edit_book_path(book.id), class: "btn btn-primary" %>
          <%= link_to "Xoá", book_path(book.id), class: "btn btn-danger", method: :delete  %>
      </div>
    </div>
</div>