<% if !book.nil? %>
  <div class="<%= @size %>-book-info">
    <h4><%= book.title %></h4>
    <%= author_replacement(book) %>
    <% if book.respond_to?(:book_reviews) %>
      <div class="review-rating" data-score="<%= book.rating %>"></div>
    <% end %>
    <hr>
    <p class="book-description"><%= description_replacement(book).html_safe %></p>
  </div>
<% end %>