<div class="form-envelope-outside">
  <div class="form-envelope-inside">
    <%= form_for @book  do |f| %>
      <div class="form-inline row ">
        <label class="col-md-2 col-form-label text-xs-right">Title</label>
        <%= f.text_field :title, class: "form-control", require: true %>
      </div>
      <div class="form-inline row ">
        <label class="col-md-2 col-form-label text-xs-right">
            Author  
        </label>
        <%= f.text_field :author, class: "form-control" %>
      </div>
      <div class="form-inline row ">
        <label class="col-md-2 col-form-label text-xs-right">
            Cover photo URL
        </label>
        <%= f.text_field :image_url, class: "form-control" %>
      </div>
      <div class="form-inline row ">
        <label class="col-md-2 col-form-label text-xs-right">
            Category
        </label>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @book.category_id), {}, {class: " form-control"}%>
      </div>
      <div class="form-inline row ">
        <label class="col-md-2 col-form-label text-xs-right">
            ISBN 
        </label>
        <%= f.number_field :isbn, class: "form-control" %>
      </div>
      <div class="form-inline row ">
        <label class="col-md-2 col-form-label text-xs-right">
            Description
        </label>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <hr>
      <div class="form-group row">
        <%= f.submit "Save", class: "btn btn-primary col-md-2 offset-md-2" %>
      </div>
    <% end %>
  </div>
</div>