<% @size ||= "small" %>
<% source = nil unless defined?(source) && source == "goodreads" %>
<% if !book.nil? %>  
  <div class="<%= @col_wide %> book-block">
    <div class="clearfix">
      <div class="<%= @size %>-book-left-sidebar">
        <%= render partial: "books/book_cover", object: @book, as: :book, locals: {source: source} %>
        <hr>
        <div class="book-btn" align="center">
          <%= render partial: "books/btn_to_add_book", object: @book, as: :book, locals: {source: source} %>
          <hr>
        </div>
        <% unless defined?(source) && source == "goodreads" %>
        
          <div class="users-have-this-book" align="center">
            <h4>Shared by</h4>
            <% if @book_items.count > 0 %>
              <%= render partial: "book_items/book_item_request", collection: @book_items, as: :book_item %>
            <% else %>
              No one has this book to share.
            <% end %>
          </div>
          <div class="users-have-this-book" align="center">
            <h4>Wishlist</h4>
            <% if (wl = current_user.wishlists.where(book_id: @book.id)).exists? %>
              You sent a requested for everybody.<%= render partial: "wishlist/btn_to_del_wishlist", locals: {wishlist: wl[0]} %>
            <% else %>
              Want to request this book? <%= render partial: "wishlist/btn_to_add_wishlist", locals: {book: @book, user: current_user} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="<%= @size %>-book-right-sidebar">
        <%= render partial: "books/book_info", object: @book, as: :book, locals: {source: source} %>
        <!--Review group Beginning-->
        <%= render partial: "book_reviews/book_review_group" unless source == "goodreads" %>
        <!--Review Group Ending-->          
        <!--Review Form Beginning-->
        <% if current_user %>
          <%= render "book_reviews/form", object: @book, as: :book, locals: {source: source} %>
        <% end %>
        <!--Review Form Ending-->
      </div>
    </div>
  </div>
<% end %>
