<div class="container main-content">
  <h3 class="text-xs-center">Search resulfs for <strong><%= params[:q] %></strong></h3>
  <hr/>
  <h4 class="text-xs-right">From our database</h4>
  <div class="row">
    <% if @books.any? %>
      <% @books.in_groups_of(3) do |g| %>
        <div class="row 3-books">
          <% g.compact.each do |book| %>
            <div class="<%= @col_wide %> book-block">
              <div class="<%= @size %>-book-left-sidebar">
                <%= render partial: 'books/book_cover', object: book, as: :book, locals: {:source => "internal"} %>
              </div>
              <div class="<%= @size %>-book-right-sidebar">
                <%= render partial: 'books/book_info', object: book, as: :book, locals: {:source => "internal"} %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="alert alert-info">Không tìm thấy sách trong cơ sở dữ liệu BôkaBook</p>
    <% end %>
  </div>
  <br/><hr/>
  <h4 class="text-xs-right">From Goodreads database</h4>
  <div class="row">
    <% if @books_from_goodreads.total_results.to_i == 1 %>
      <div class="<%= @col_wide %> book-block">
        <div class="<%= @size %>-book-left-sidebar">
          <%= render partial: 'books/book_cover', object: @books_from_goodreads.results.work.best_book, as: :book, locals: {source: "goodreads"} %>
        </div>
        <div class="<%= @size %>-book-left-sidebar">
          <%= render partial: 'books/book_info', object: @books_from_goodreads.results.work.best_book, as: :book, locals: {source: "goodreads"} %>
        </div>
      </div>
    <% else %>
      <% @books_from_goodreads.results.work.in_groups_of(3) do |g| %>
        <div class="row 3-books">
          <% g.compact.each do |book| %>
            <div class="<%= @col_wide %> book-block">
              <div class="<%= @size %>-book-left-sidebar">
                <%= render partial: 'books/book_cover', object:book.best_book, as: :book, locals: {source: "goodreads"} %>
              </div>
              <div class="<%= @size %>-book-right-sidebar">
                <%= render partial: 'books/book_info', object:book.best_book, as: :book, locals: {source: "goodreads"} %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>  
  </div>
</div>  