<div id="show_transaction_<%= transaction.id %>">
  <div class="row panel clearfix" style="background-color: #F5F7FA">
    <div class="small-book-left-sidebar">
      <%= render partial: 'books/book_cover', object: transaction.book_item.book, as: :book %>
    </div>
    <div class="cart-right-pannel">
      <%= form_for transaction, remote: true do |f| %></%>
          <div class="btn-group">
            <% if current_user_is_borrower(transaction) %>
                <% transaction_statuses = TransactionStatus.where(id: transaction.next_transaction_statuses[:borrower]) %>
            <% else %>
                <% transaction_statuses = TransactionStatus.where(id: transaction.next_transaction_statuses[:lender]) %>
            <% end %>
            <% transaction_statuses.each do |ts| %>
                <button type="submit" name="transaction[transaction_status_id]"
                        id="transaction_transaction_status_id" value=<%= ts.id %> class="btn <%= "btn-danger" if (ts.id == 6)%>"><%= ts.name %></button>
            <% end %>
          </div>
          <!--Status la 5. Da nhan sach, thi Link to Transaction review hoac la Xoa transaction(optional)-->
          <% if transaction.transaction_status_id == 5 %>
              <div class="btn-group">
                <%= link_to "Cancel request", transaction, { data: { confirm: "Cancel request of '#{transaction.book_item.book.title}'?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
                <% if current_user.already_review? transaction.id %>
                    <div id="already_review_btn_<%= transaction.id %>" class="btn btn-secondary">Already Review</div>
                <% else %>
                    <button id="transaction_review_btn_<%= transaction.id %>" class="btn btn-primary" data-toggle="modal" data-target="#modal_review_<%= transaction.id %>">Viết Nhận Xét</button>
                    <div id="already_review_btn_<%= transaction.id %>" class="btn btn-secondary" style="display: none;">Already Review</div>
                <% end %>
              </div>
          <% end %>
      <% end %>

      <%= render partial: 'transaction_reviews/form', object: transaction, as: 'transaction' %>
      </div>
  <div class="cart-center-pannel">
    <h4><%= transaction.book_item.book.title %></h4>
    <p>
      Status: <strong><%= transaction.transaction_status.name %></strong><br/>
      <% if current_user_is_borrower(transaction) %>
          From: <strong><%= transaction.book_item.shelf.user.name %></strong><br/>
      <% end %>
      <% if current_user_is_lender(transaction) %>
          To: <strong><%= User.find(transaction.borrower_id).name %></strong>
      <% end %>
    </p>

    <p>
      Availabe: <strong><%= transaction.book_item.available_count %></strong><br/>
      Request: <strong><%= transaction.quantity %></strong>
    </p>
  </div>
</div>
</div>
