<div class="web-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="margin-bottom-8">
      <a href="/" class="navbar-middle-left"><%= image_tag("logo/logo_light.png", alt: "BôkaBook", height: "40") %></a>
      
      <form class="form-inline pull-xs-right">
        <% if signed_in? %>
            <li class="dropdown" style="width: 180px;">
            <%= link_to "Hello #{current_user.name || current_user.email}", current_user, class: "navbar-link dropdown-toggle", :data => {:toggle => 'dropdown'} %>
            <%= link_to image_tag(current_user.avatar(40), class: "img-rounded small-avatar"), current_user %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Transaction", cart_path %></li>
                <li><%= link_to "Members", users_path %></li>
                <li><%= link_to "Paths", user_categories_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
          <%= link_to "Create new account", new_user_registration_path, class: "btn btn-primary" %> 
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
      </form>
    </div>
  </nav>
</div>
